<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<add key="PortList" value="http://www.iss.net/security_center/advice/Exploits/Ports/" />
	<add key="Port1" value="tcpmux" />
	<add key="Port5" value="rje" />
	<add key="Port7" value="echo" />
	<add key="Port9" value="discard" />
	<add key="Port11" value="systat" />
	<add key="Port13" value="daytime" />
	<add key="Port15" value="netstat" />
	<add key="Port17" value="qotd" />
	<add key="Port18" value="send/rwp" />
	<add key="Port19" value="chargen" />
	<add key="Port20" value="FTP-Data" />
    <add key="Port21" value="FTP" />
    <add key="Port22" value="SSH, PCAnywhere" />
    <add key="Port23" value="Telnet" />
    <add key="Port25" value="SMTP" />
    <add key="Port27" value="ETRN" />
    <add key="Port29" value="msg-icp" />
    <add key="Port31" value="msg-auth" />
    <add key="Port33" value="dsp" />
    <add key="Port37" value="time" />
    <add key="Port38" value="RAP" />
    <add key="Port39" value="rlp" />
    <add key="Port41" value="DeepThroat (FTP)" />
    <add key="Port42" value="nameserv, WINS" />
    <add key="Port43" value="whois, nickname" />
    <add key="Port49" value="TACACS, Login Host Protocol" />
    <add key="Port50" value="RMCP, re-mail-ck" />
    <add key="Port53" value="DNS" />
    <add key="Port57" value="MTP" />
    <add key="Port59" value="NFILE" />
    <add key="Port63" value="whois++" />
    <add key="Port66" value="sql*net" />
    <add key="Port67" value="bootps" />
    <add key="Port68" value="bootpd/dhcp" />
    <add key="Port69" value="Trivial File Transfer Protocol (TFTP)" />
    <add key="Port70" value="Gopher" />
    <add key="Port79" value="finger" />
    <add key="Port87" value="link (a talk/chat style protocol)" />
    <add key="Port80" value="HTTP" />
    <add key="Port88" value="Kerberos, WWW" />
    <add key="Port95" value="supdup" />
    <add key="Port96" value="DIXIE" />
    <add key="Port98" value="linuxconf" />
    <add key="Port101" value="HOSTNAME" />
    <add key="Port102" value="ISO, X.400, ITOT" />
    <add key="Port105" value="cso" />
    <add key="Port106" value="poppassd" />
    <add key="Port109" value="POP2" />
    <add key="Port110" value="POP3" />
    <add key="Port111" value="Sun RPC Portmapper" />
    <add key="Port113" value="identd/auth" />
    <add key="Port115" value="sftp" />
    <add key="Port117" value="uucp" />
    <add key="Port119" value="NNTP" />
    <add key="Port120" value="CFDP" />
    <add key="Port123" value="NTP" />
    <add key="Port124" value="SecureID" />
    <add key="Port129" value="PWDGEN" />
    <add key="Port133" value="statsrv" />
    <add key="Port135" value="loc-src/epmap" />
    <add key="Port137" value="netbios-ns" />
    <add key="Port138" value="netbios-dgm" />
    <add key="Port139" value="NetBIOS" />
    <add key="Port143" value="IMAP" />
    <add key="Port144" value="NewS" />
    <add key="Port150" value="SQL-NET" />
    <add key="Port152" value="BFTP" />
    <add key="Port153" value="SGMP" />
    <add key="Port161" value="SNMP" />
    <add key="Port175" value="vmnet" />
    <add key="Port177" value="XDMCP" />
    <add key="Port178" value="NextStep Window Server" />
    <add key="Port179" value="BGP" />
    <add key="Port180" value="SLmail admin" />
    <add key="Port199" value="smux" />
    <add key="Port210" value="Z39.50" />
    <add key="Port213" value="Novell IPTUNNEL NLM" />
    <add key="Port218" value="MPP" />
    <add key="Port220" value="IMAP3" />
    <add key="Port259" value="ESRO" />
    <add key="Port264" value="FW1_topo" />
    <add key="Port311" value="Apple WebAdmin" />
    <add key="Port350" value="MATIP type A" />
    <add key="Port351" value="MATIP type B" />
    <add key="Port360" value="i2odialogd (SCO Unixware)" />
    <add key="Port363" value="RSVP tunnel" />
    <add key="Port366" value="ODMR (On-Demand Mail Relay)" />
    <add key="Port371" value="ClearCase (source control system from Rational Software)" />
    <add key="Port387" value="AURP (AppleTalk Update-Based Routing Protocol)" />
    <add key="Port389" value="LDAP" />
    <add key="Port407" value="Timbuktu" />
    <add key="Port427" value="SLP (Service Location Protocol)" />
    <add key="Port434" value="Mobile IP" />
    <add key="Port443" value="SSL" />
    <add key="Port444" value="snpp (Simple Network Paging Protocol)" />
    <add key="Port445" value="SMB" />
    <add key="Port458" value="QuickTime TV/Conferencing" />
    <add key="Port468" value="Photuris" />
    <add key="Port500" value="ISAKMP, pluto" />
    <add key="Port512" value="bigg, rexec" />
    <add key="Port513" value="who, rlogin" />
    <add key="Port514" value="syslog, rsh" />
    <add key="Port515" value="lp, lpr, line printer" />
    <add key="Port517" value="talk" />
    <add key="Port520" value="RIP (Routing Information Protocol)" />
    <add key="Port521" value="RIPng" />
    <add key="Port522" value="ULS" />
    <add key="Port531" value="IRC" />
    <add key="Port543" value="KLogin, AppleShare over IP" />
    <add key="Port545" value="QuickTime" />
    <add key="Port548" value="AFP" />
    <add key="Port554" value="Real Time Streaming Protocol" />
    <add key="Port555" value="phAse Zero" />
    <add key="Port563" value="NNTP over SSL" />
    <add key="Port575" value="VEMMI" />
    <add key="Port581" value="Bundle Discovery Protocol" />
    <add key="Port593" value="MS-RPC" />
    <add key="Port608" value="SIFT/UFT" />
    <add key="Port626" value="Apple ASIA" />
    <add key="Port631" value="IPP (Internet Printing Protocol)" />
    <add key="Port635" value="mountd" />
    <add key="Port636" value="sldap" />
    <add key="Port642" value="EMSD" />
    <add key="Port648" value="RRP (NSI Registry Registrar Protocol)" />
    <add key="Port655" value="tinc" />
    <add key="Port660" value="Apple MacOS Server Admin" />
    <add key="Port666" value="Doom" />
    <add key="Port674" value="ACAP" />
    <add key="Port687" value="AppleShare IP Registry" />
    <add key="Port700" value="buddyphone" />
    <add key="Port705" value="AgentX for SNMP" />
    <add key="Port901" value="swat, realsecure" />
    <add key="Port993" value="s-imap" />
    <add key="Port995" value="s-pop" />
    <add key="Port999" value="DeepThroat (key logger)" />
    <add key="Port1114" value="mini-SQL" />
    <add key="Port1062" value="Veracity" />
    <add key="Port1080" value="SOCKS" />
    <add key="Port1085" value="WebObjects" />
    <add key="Port1227" value="DNS2Go" />
    <add key="Port1243" value="SubSeven" />
    <add key="Port1338" value="Millennium Worm" />
    <add key="Port1352" value="Lotus Notes" />
    <add key="Port1381" value="Apple Network License Manager" />
    <add key="Port1417" value="Timbuktu" />
    <add key="Port1418" value="Timbuktu" />
    <add key="Port1419" value="Timbuktu" />
    <add key="Port1433" value="Microsoft SQL Server" />
    <add key="Port1434" value="Microsoft SQL Monitor" />
    <add key="Port1477" value="Microsoft SNA Server" />
    <add key="Port1478" value="Microsoft SNA Server" />
    <add key="Port1490" value="VocalTec Internet Phone" />
    <add key="Port1494" value="Citrix ICA Protocol" />
    <add key="Port1498" value="Sybase SQL AnyWhere" />
    <add key="Port1500" value="ADSM/Tivoli Storage Manager (backup software)" />
    <add key="Port1503" value="T.120" />
    <add key="Port1521" value="Oracle SQL" />
    <add key="Port1522" value="Oracle SqlNet 2" />
    <add key="Port1525" value="prospero" />
    <add key="Port1526" value="prospero" />
    <add key="Port1527" value="tlisrv" />
    <add key="Port1529" value="Oracle SqlNet 2" />
    <add key="Port1547" value="LapLink" />
    <add key="Port1604" value="Citrix ICA, MS Terminal Server" />
    <add key="Port1645" value="RADIUS Authentication" />
    <add key="Port1646" value="RADIUA Accounting" />
    <add key="Port1680" value="Carbon Copy" />
    <add key="Port1701" value="L2TP/LSF" />
    <add key="Port1717" value="Convoy" />
    <add key="Port1720" value="H.323/Q.931" />
    <add key="Port1723" value="PPTP control port" />
    <add key="Port1731" value="Microsoft NetMeeting (audio call setup)" />
    <add key="Port1755" value="Windows Media .asf" />
    <add key="Port1758" value="TFTP multicast" />
    <add key="Port1761" value="SMS v1.2 wuser32.exe" />
    <add key="Port1808" value="Oracle VP2" />
    <add key="Port1812" value="RADIUS server" />
    <add key="Port1813" value="RADIUS accounting" />
    <add key="Port1818" value="ETFTP" />
    <add key="Port1973" value="DLSw DCAP/DRAP" />
    <add key="Port1985" value="HSRP" />
    <add key="Port1999" value="Cisco AUTH" />
    <add key="Port2000" value="NeWS/OpenWin (Sun's older technology like X Windows), RemotelyAnywhere (web server)" />
    <add key="Port2001" value="glimpse" />
    <add key="Port2049" value="NFS" />
    <add key="Port2064" value="distributed.net" />
    <add key="Port2065" value="DLSw" />
    <add key="Port2066" value="DLSw" />
    <add key="Port2106" value="MZAP" />
    <add key="Port2140" value="DeepThroat" />
    <add key="Port2301" value="Compaq Insight Management Web Agents" />
    <add key="Port2327" value="Netscape Conference" />
    <add key="Port2336" value="Apple UG Control" />
    <add key="Port2427" value="MGCP gateway" />
    <add key="Port2504" value="WLBS" />
    <add key="Port2535" value="MADCAP" />
    <add key="Port2543" value="sip" />
    <add key="Port2592" value="netrek" />
    <add key="Port2727" value="MGCP call agent" />
    <add key="Port2628" value="DICT" />
    <add key="Port2998" value="ISS Real Secure Console Service Port" />
    <add key="Port3000" value="Firstclass" />
    <add key="Port3031" value="Apple AgentVU" />
    <add key="Port3128" value="squid" />
    <add key="Port3130" value="ICP" />
    <add key="Port3150" value="DeepThroat" />
    <add key="Port3264" value="ccmail" />
    <add key="Port3283" value="Apple NetAssistant" />
    <add key="Port3288" value="COPS" />
    <add key="Port3305" value="ODETTE" />
    <add key="Port3306" value="mySQL" />
    <add key="Port3389" value="RDP Protocol (Terminal Server)" />
    <add key="Port3521" value="netrek" />
    <add key="Port4000" value="ICQ, Command-n-Conquer" />
    <add key="Port4144" value="CIM (Compuserve Information Manager)" />
    <add key="Port4321" value="rwhois" />
    <add key="Port4333" value="mSQL" />
    <add key="Port4827" value="HTCP" />
    <add key="Port5004" value="RTP" />
    <add key="Port5005" value="RTP" />
    <add key="Port5010" value="Yahoo! Messenger" />
    <add key="Port5060" value="SIP" />
    <add key="Port5190" value="AIM (AOL Instant Messenger)" />
    <add key="Port5222" value="Jabber (Instant Messenging software)" />
    <add key="Port5500" value="securid" />
    <add key="Port5501" value="securidprop" />
    <add key="Port5423" value="Apple VirtualUser" />
    <add key="Port5631" value="PCAnywhere data" />
    <add key="Port5632" value="PCAnywhere" />
    <add key="Port5800" value="VNC" />
    <add key="Port5801" value="VNC" />
    <add key="Port5843" value="IIS Admin Service" />
    <add key="Port5900" value="VNC" />
    <add key="Port5901" value="VNC" />
    <add key="Port6000" value="X-Windows" />
    <add key="Port6112" value="BattleNet" />
    <add key="Port6502" value="Netscape Conference" />
    <add key="Port6667" value="IRC" />
    <add key="Port6670" value="VocalTec Internet Phone, DeepThroat" />
    <add key="Port6699" value="Napster" />
    <add key="Port6776" value="Sub7" />
    <add key="Port6970" value="RTP" />
    <add key="Port7007" value="MSBD, Windows Media encoder" />
    <add key="Port7070" value="RealServer/QuickTime" />
    <add key="Port7778" value="Unreal" />
    <add key="Port7648" value="CU-SeeMe" />
    <add key="Port7649" value="CU-SeeMe" />
    <add key="Port8010" value="WinGate 2.1" />
    <add key="Port8080" value="HTTP" />
    <add key="Port8181" value="HTTP" />
    <add key="Port8383" value="IMail WWW" />
    <add key="Port8875" value="napster" />
    <add key="Port8888" value="napster" />
    <add key="Port10008" value="cheese worm" />
    <add key="Port11371" value="PGP 5 Keyserver" />
    <add key="Port13223" value="PowWow" />
    <add key="Port13224" value="PowWow" />
    <add key="Port14237" value="Palm" />
    <add key="Port14238" value="Palm" />
    <add key="Port18888" value="LiquidAudio" />
    <add key="Port21157" value="Activision" />
    <add key="Port23213" value="PowWow" />
    <add key="Port23214" value="PowWow" />
    <add key="Port23456" value="EvilFTP" />
    <add key="Port26000" value="Quake" />
    <add key="Port27001" value="QuakeWorld" />
    <add key="Port27010" value="Half-Life" />
    <add key="Port27015" value="Half-Life" />
    <add key="Port27960" value="QuakeIII" />
    <add key="Port30029" value="AOL Admin" />
    <add key="Port31337" value="Back Orifice" />
    <add key="Port32773" value="rpc.ttdbserverd" />
    <add key="Port32776" value="rpc.spray" />
    <add key="Port32777" value="rpc.walld" />
    <add key="Port32779" value="rpc.cmsd" />
    <add key="Port38036" value="timestep" />
    <add key="Port40193" value="Novell" />
    <add key="Port41524" value="arcserve discovery" />
    <add key="Port45000" value="Cisco SAFE IDS / NetRanger" />
  </appSettings>
</configuration>

