<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Coringa.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Coringa.My.MySettings>
            <setting name="SeleCor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="SeleGridLins" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MostrarInformações" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MostrarDesktop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MostrarNotificação" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MeusGupos" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>354835|Temporários|11/01/2016|</string>
                        <string>265449|Testes|11/01/2016|</string>
                        <string>623598|Usuários|11/01/2016|</string>
                        <string>415764|Favoritos|11/01/2016|</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MyBodyColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="MyBorderColor" serializeAs="String">
                <value>WindowFrame</value>
            </setting>
            <setting name="MyButtonBorderColor" serializeAs="String">
                <value>WindowFrame</value>
            </setting>
            <setting name="MyButtonHoverColor" serializeAs="String">
                <value>Highlight</value>
            </setting>
            <setting name="MyContentColor" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="MyContentHoverColor" serializeAs="String">
                <value>HotTrack</value>
            </setting>
            <setting name="MyHeaderColor" serializeAs="String">
                <value>ControlDark</value>
            </setting>
            <setting name="MyTitleColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="MyMostrarIcone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MyMostrarBotaodeFechar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MyMostrarMenudeOpcoes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MyMostrarGrip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MyEfeito" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MyDuracao" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="MyIntervalodeAnimacao" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MyDuracaodaAnimacao" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MyTituloPadding" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MyDescricaoPadding" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MyIconePadding" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ÁreadeTrabalho" serializeAs="String">
                <value>Área de Trabalho</value>
            </setting>
            <setting name="MinhaAreaDeTrabalho" serializeAs="String">
                <value>Área de Trabalho</value>
            </setting>
        </Coringa.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
