<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="yolo.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <yolo.My.MySettings>
            <setting name="api" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ddos" serializeAs="String">
                <value />
            </setting>
            <setting name="ddostime" serializeAs="String">
                <value />
            </setting>
            <setting name="autoadd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="afk" serializeAs="String">
                <value />
            </setting>
            <setting name="tempprem" serializeAs="String">
                <value />
            </setting>
            <setting name="admins" serializeAs="String">
                <value>rbnmag, outgrows</value>
            </setting>
            <setting name="autobuyprems" serializeAs="String">
                <value />
            </setting>
            <setting name="blacklistedskypenames" serializeAs="String">
                <value />
            </setting>
            <setting name="mailspam" serializeAs="String">
                <value />
            </setting>
            <setting name="bitchslap" serializeAs="String">
                <value />
            </setting>
        </yolo.My.MySettings>
    </userSettings>
</configuration>